name: Test Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Print message
        run: echo "Workflow is running!"
name: Deploy Static App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Copy files to EC2
        uses: appleboy/scp-action@v0.1.3
        with:
          host: 3.90.209.104
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          source: "./*"
          target: "/var/www/html/"
